html {
    scroll-behavior: smooth;
}

#header-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Ta4TRtIOtfrz67zSQl5GNAHaEK%26pid%3DApi&f=1);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

#parallax-section {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Ta4TRtIOtfrz67zSQl5GNAHaEK%26pid%3DApi&f=1);
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#footer-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Ta4TRtIOtfrz67zSQl5GNAHaEK%26pid%3DApi&f=1);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}
